# Análise de dados

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("../datasets/application_data.csv")

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

In [10]:
df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [36]:
df.select_dtypes(include="object").head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,reg oper account,block of flats,Panel,No
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,Panel,No
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,reg oper account,block of flats,Panel,No

## Retirar variaveis que não pertence ao estudo do caso (Drop axi=1)

In [9]:
df = df.drop("SK_ID_CURR", axis=1)

## Identificar variaveis Nulas e preencher com a media da categoria (Nan)

In [38]:
df.select_dtypes(include="object").isnull().sum()

NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
OCCUPATION_TYPE               0
WEEKDAY_APPR_PROCESS_START    0
ORGANIZATION_TYPE             0
FONDKAPREMONT_MODE            0
HOUSETYPE_MODE                0
WALLSMATERIAL_MODE            0
EMERGENCYSTATE_MODE           0
dtype: int64

In [26]:
df["NAME_TYPE_SUITE"].fillna(axis=0, method="bfill", inplace=True)
df["OCCUPATION_TYPE"].fillna(axis=0, method="bfill", inplace=True)
df["FONDKAPREMONT_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["HOUSETYPE_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["WALLSMATERIAL_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["EMERGENCYSTATE_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["FONDKAPREMONT_MODE"].fillna(axis=0, method="bfill", inplace=True)

In [37]:
df["FONDKAPREMONT_MODE"].fillna(value="reg oper account", inplace=True)

In [ ]:
# df.dropna(axis=1)

In [14]:
df.select_dtypes(include="int64").isnull().sum()

TARGET                         0
CNT_CHILDREN                   0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_ID_PUBLISH                0
FLAG_MOBIL                     0
FLAG_EMP_PHONE                 0
FLAG_WORK_PHONE                0
FLAG_CONT_MOBILE               0
FLAG_PHONE                     0
FLAG_EMAIL                     0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
LIVE_CITY_NOT_WORK_CITY        0
FLAG_DOCUMENT_2                0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_4                0
FLAG_DOCUMENT_5                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_7                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_9                0
FLAG_DOCUMENT_10               0
FLAG_DOCUMENT_11               0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_17               0
FLAG_DOCUMENT_18               0
FLAG_DOCUMENT_19               0
FLAG_DOCUMENT_20               0
FLAG_DOCUMENT_21               0
dtype: int64

In [29]:
df.select_dtypes(include="float64").isnull().sum()

AMT_INCOME_TOTAL              0
AMT_CREDIT                    0
AMT_ANNUITY                   0
AMT_GOODS_PRICE               0
REGION_POPULATION_RELATIVE    0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 65, dtype: int64

In [18]:
df["AMT_ANNUITY"].fillna(value=df["AMT_ANNUITY"].mean(), inplace=True)
df["AMT_GOODS_PRICE"].fillna(value=df["AMT_GOODS_PRICE"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_DAY"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_DAY"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_WEEK"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_WEEK"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_MON"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_MON"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_QRT"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_QRT"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_YEAR"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_YEAR"].mean(), inplace=True)

In [30]:
df.fillna(value=df.mean(), inplace=True)

In [39]:
df.isnull().sum().sum()

0

## Converter variaveis textos/categoricos para numericos/categoricos

In [40]:
df.select_dtypes(include="object").isnull().sum()

NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
OCCUPATION_TYPE               0
WEEKDAY_APPR_PROCESS_START    0
ORGANIZATION_TYPE             0
FONDKAPREMONT_MODE            0
HOUSETYPE_MODE                0
WALLSMATERIAL_MODE            0
EMERGENCYSTATE_MODE           0
dtype: int64

In [44]:
def convert_text_to_numetic(value, lstText):
    for index, text in enumerate(lstText):
        if text == value:
            return index

In [51]:
lst_Coll = ["CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "NAME_TYPE_SUITE", "NAME_INCOME_TYPE", "NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS", "NAME_HOUSING_TYPE", "OCCUPATION_TYPE", "WEEKDAY_APPR_PROCESS_START", "ORGANIZATION_TYPE", "FONDKAPREMONT_MODE", "HOUSETYPE_MODE", "WALLSMATERIAL_MODE", "EMERGENCYSTATE_MODE"] 

for col in lst_Coll:
    lstText = df[col].unique()
    df["CAT_" + col] = [convert_text_to_numetic(text, lstText) for text in df[col].values]

In [52]:
df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CAT_NAME_EDUCATION_TYPE,CAT_NAME_FAMILY_STATUS,CAT_NAME_HOUSING_TYPE,CAT_OCCUPATION_TYPE,CAT_WEEKDAY_APPR_PROCESS_START,CAT_ORGANIZATION_TYPE,CAT_FONDKAPREMONT_MODE,CAT_HOUSETYPE_MODE,CAT_WALLSMATERIAL_MODE,CAT_EMERGENCYSTATE_MODE
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,1,1,0,1,1,1,0,0,1,0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,1,2,0,0,2,0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,2,0,0,0,0,0,0,2,0
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,1,2,3,0,0,2,0

## Retirar registros que tenha variaveis com outliers (Escor Z)

In [55]:
name_columns = df.select_dtypes(include="float64").columns
des_target = df["TARGET"].unique()

In [58]:
name_columns = df.select_dtypes(include="int64").columns

In [59]:
for variavel in name_columns:
    df_defaut = []
    for value, target in enumerate(des_target):
        dados = df[df["TARGET"]==value]
        print(f"Classe: {des_target[value]} - variavel: {variavel}")

        data_mean, data_std = dados[variavel].mean(), dados[variavel].std()
        data_min, data_max = dados[variavel].min(), dados[variavel].max()
        print("Real Min: %.3f Real Max: %.3f" %  (data_min, data_max))

        cut_off = data_std * 2.5
        lower, upper = data_mean - cut_off, data_mean + cut_off
        print("Limit Min: %.3f Limit Max: %.3f" %  (lower, upper))


        dataset = dados[dados[variavel] >= lower]
        if len(dataset) == 0:
            dataset = dados[dados[variavel] <= upper]
        else:
            dataset = dataset[dataset[variavel] <= upper]


        df_defaut.append(dataset)

        outliers = pd.concat([dados[dados[variavel] < lower], dados[dados[variavel] > upper]])
        print("Identfied outliers: %d \n" % len(outliers))

    df = pd.concat(df_defaut)

Classe: 1 - variavel: TARGET
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: TARGET
Real Min: 1.000 Real Max: 1.000
Limit Min: 1.000 Limit Max: 1.000
Identfied outliers: 0

Classe: 1 - variavel: CNT_CHILDREN
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.267 Limit Max: 2.064
Identfied outliers: 89

Classe: 0 - variavel: CNT_CHILDREN
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.272 Limit Max: 2.174
Identfied outliers: 14

Classe: 1 - variavel: DAYS_BIRTH
Real Min: -25197.000 Real Max: -7673.000
Limit Min: -26884.932 Limit Max: -5324.654
Identfied outliers: 0

Classe: 0 - variavel: DAYS_BIRTH
Real Min: -25168.000 Real Max: -7680.000
Limit Min: -25160.024 Limit Max: -4256.516
Identfied outliers: 1

Classe: 1 - variavel: DAYS_EMPLOYED
Real Min: -17522.000 Real Max: 365243.000
Limit Min: -294063.184 Limit Max: 430952.805
Identfied outliers: 0

Classe: 0 - variavel: DAYS_EMPLOYED
Real Min: -14540.000 Real Max: 365243.000
Limit Min: -256050.590 Limit Max: 340932.673
Identfied outliers: 1017

Classe: 1 - variavel: DAYS_ID_PUBLISH
Real Min: -6383.000 Real Max: 0.000
Limit Min: -6752.407 Limit Max: 784.952
Identfied outliers: 0

Classe: 0 - variavel: DAYS_ID_PUBLISH
Real Min: -6070.000 Real Max: 0.000
Limit Min: -6309.906 Limit Max: 1154.055
Identfied outliers: 0

Classe: 1 - variavel: FLAG_MOBIL
Real Min: 1.000 Real Max: 1.000
Limit Min: 1.000 Limit Max: 1.000
Identfied outliers: 0

Classe: 0 - variavel: FLAG_MOBIL
Real Min: 1.000 Real Max: 1.000
Limit Min: 1.000 Limit Max: 1.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_EMP_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.179 Limit Max: 1.793
Identfied outliers: 0

Classe: 0 - variavel: FLAG_EMP_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.971 Limit Max: 1.029
Identfied outliers: 1

Classe: 1 - variavel: FLAG_WORK_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.822 Limit Max: 1.283
Identfied outliers: 0

Classe: 0 - variavel: FLAG_WORK_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.846 Limit Max: 1.481
Identfied outliers: 0

Classe: 1 - variavel: FLAG_CONT_MOBILE
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.901 Limit Max: 1.096
Identfied outliers: 127

Classe: 0 - variavel: FLAG_CONT_MOBILE
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.922 Limit Max: 1.076
Identfied outliers: 7

Classe: 1 - variavel: FLAG_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.836 Limit Max: 1.353
Identfied outliers: 0

Classe: 0 - variavel: FLAG_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.823 Limit Max: 1.285
Identfied outliers: 0

Classe: 1 - variavel: FLAG_EMAIL
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.452 Limit Max: 0.534
Identfied outliers: 3369

Classe: 0 - variavel: FLAG_EMAIL
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.465 Limit Max: 0.551
Identfied outliers: 320

Classe: 1 - variavel: REGION_RATING_CLIENT
Real Min: 1.000 Real Max: 3.000
Limit Min: 1.016 Limit Max: 3.254
Identfied outliers: 3339

Classe: 0 - variavel: REGION_RATING_CLIENT
Real Min: 1.000 Real Max: 3.000
Limit Min: 1.039 Limit Max: 3.434
Identfied outliers: 174

Classe: 1 - variavel: REGION_RATING_CLIENT_W_CITY
Real Min: 1.000 Real Max: 3.000
Limit Min: 1.211 Limit Max: 3.145
Identfied outliers: 122

Classe: 0 - variavel: REGION_RATING_CLIENT_W_CITY
Real Min: 1.000 Real Max: 3.000
Limit Min: 1.155 Limit Max: 3.369
Identfied outliers: 10

Classe: 1 - variavel: HOUR_APPR_PROCESS_START
Real Min: 0.000 Real Max: 23.000
Limit Min: 3.826 Limit Max: 19.574
Identfied outliers: 752

Classe: 0 - variavel: HOUR_APPR_PROCESS_START
Real Min: 0.000 Real Max: 22.000
Limit Min: 3.327 Limit Max: 19.833
Identfied outliers: 72

Classe: 1 - variavel: REG_REGION_NOT_LIVE_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.284 Limit Max: 0.313
Identfied outliers: 1095

Classe: 0 - variavel: REG_REGION_NOT_LIVE_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.347 Limit Max: 0.392
Identfied outliers: 153

Classe: 1 - variavel: REG_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.402 Limit Max: 0.464
Identfied outliers: 2308

Classe: 0 - variavel: REG_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.478 Limit Max: 0.571
Identfied outliers: 309

Classe: 1 - variavel: LIVE_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: LIVE_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: REG_CITY_NOT_LIVE_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.659 Limit Max: 0.868
Identfied outliers: 7511

Classe: 0 - variavel: REG_CITY_NOT_LIVE_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.779 Limit Max: 1.135
Identfied outliers: 0

Classe: 1 - variavel: REG_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.831 Limit Max: 1.325
Identfied outliers: 0

Classe: 0 - variavel: REG_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.783 Limit Max: 1.711
Identfied outliers: 0

Classe: 1 - variavel: LIVE_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.831 Limit Max: 1.325
Identfied outliers: 0

Classe: 0 - variavel: LIVE_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.846 Limit Max: 1.505
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_2
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_2
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_3
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.407 Limit Max: 1.843
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_3
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.090 Limit Max: 1.762
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_4
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.028 Limit Max: 0.028
Identfied outliers: 8

Classe: 0 - variavel: FLAG_DOCUMENT_4
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_5
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.288 Limit Max: 0.318
Identfied outliers: 965

Classe: 0 - variavel: FLAG_DOCUMENT_5
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.305 Limit Max: 0.339
Identfied outliers: 108

Classe: 1 - variavel: FLAG_DOCUMENT_6
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.676 Limit Max: 0.899
Identfied outliers: 7111

Classe: 0 - variavel: FLAG_DOCUMENT_6
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.188 Limit Max: 0.200
Identfied outliers: 38

Classe: 1 - variavel: FLAG_DOCUMENT_7
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.026 Limit Max: 0.026
Identfied outliers: 6

Classe: 0 - variavel: FLAG_DOCUMENT_7
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.031 Limit Max: 0.032
Identfied outliers: 1

Classe: 1 - variavel: FLAG_DOCUMENT_8
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.570 Limit Max: 0.711
Identfied outliers: 3994

Classe: 0 - variavel: FLAG_DOCUMENT_8
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.570 Limit Max: 0.712
Identfied outliers: 442

Classe: 1 - variavel: FLAG_DOCUMENT_9
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.115 Limit Max: 0.119
Identfied outliers: 115

Classe: 0 - variavel: FLAG_DOCUMENT_9
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.128 Limit Max: 0.134
Identfied outliers: 16

Classe: 1 - variavel: FLAG_DOCUMENT_10
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_10
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_11
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.111 Limit Max: 0.115
Identfied outliers: 107

Classe: 0 - variavel: FLAG_DOCUMENT_11
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.092 Limit Max: 0.094
Identfied outliers: 8

Classe: 1 - variavel: FLAG_DOCUMENT_12
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_12
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_13
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.102 Limit Max: 0.106
Identfied outliers: 91

Classe: 0 - variavel: FLAG_DOCUMENT_13
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.056 Limit Max: 0.057
Identfied outliers: 3

Classe: 1 - variavel: FLAG_DOCUMENT_14
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.074 Limit Max: 0.076
Identfied outliers: 47

Classe: 0 - variavel: FLAG_DOCUMENT_14
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.056 Limit Max: 0.057
Identfied outliers: 3

Classe: 1 - variavel: FLAG_DOCUMENT_15
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.065 Limit Max: 0.066
Identfied outliers: 36

Classe: 0 - variavel: FLAG_DOCUMENT_15
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_16
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.222 Limit Max: 0.240
Identfied outliers: 449

Classe: 0 - variavel: FLAG_DOCUMENT_16
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.136 Limit Max: 0.143
Identfied outliers: 18

Classe: 1 - variavel: FLAG_DOCUMENT_17
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.033 Limit Max: 0.033
Identfied outliers: 9

Classe: 0 - variavel: FLAG_DOCUMENT_17
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.033 Limit Max: 0.033
Identfied outliers: 1

Classe: 1 - variavel: FLAG_DOCUMENT_18
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.199 Limit Max: 0.213
Identfied outliers: 353

Classe: 0 - variavel: FLAG_DOCUMENT_18
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.180 Limit Max: 0.192
Identfied outliers: 32

Classe: 1 - variavel: FLAG_DOCUMENT_19
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.056 Limit Max: 0.057
Identfied outliers: 26

Classe: 0 - variavel: FLAG_DOCUMENT_19
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_20
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_20
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_21
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.036 Limit Max: 0.037
Identfied outliers: 11

Classe: 0 - variavel: FLAG_DOCUMENT_21
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.033 Limit Max: 0.033
Identfied outliers: 1

Classe: 1 - variavel: CAT_NAME_CONTRACT_TYPE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.669 Limit Max: 0.886
Identfied outliers: 5563

Classe: 0 - variavel: CAT_NAME_CONTRACT_TYPE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.581 Limit Max: 0.729
Identfied outliers: 424

Classe: 1 - variavel: CAT_CODE_GENDER
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.429 Limit Max: 1.845
Identfied outliers: 0

Classe: 0 - variavel: CAT_CODE_GENDER
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.652 Limit Max: 1.815
Identfied outliers: 0

Classe: 1 - variavel: CAT_FLAG_OWN_CAR
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.846 Limit Max: 1.484
Identfied outliers: 0

Classe: 0 - variavel: CAT_FLAG_OWN_CAR
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.843 Limit Max: 1.408
Identfied outliers: 0

Classe: 1 - variavel: CAT_FLAG_OWN_REALTY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.846 Limit Max: 1.452
Identfied outliers: 0

Classe: 0 - variavel: CAT_FLAG_OWN_REALTY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.844 Limit Max: 1.533
Identfied outliers: 0

Classe: 1 - variavel: CAT_NAME_TYPE_SUITE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.480 Limit Max: 2.093
Identfied outliers: 860

Classe: 0 - variavel: CAT_NAME_TYPE_SUITE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.579 Limit Max: 2.155
Identfied outliers: 106

Classe: 1 - variavel: CAT_NAME_INCOME_TYPE
Real Min: 0.000 Real Max: 5.000
Limit Min: -2.029 Limit Max: 3.794
Identfied outliers: 4

Classe: 0 - variavel: CAT_NAME_INCOME_TYPE
Real Min: 0.000 Real Max: 2.000
Limit Min: -1.544 Limit Max: 2.455
Identfied outliers: 0

Classe: 1 - variavel: CAT_NAME_EDUCATION_TYPE
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.201 Limit Max: 1.724
Identfied outliers: 1790

Classe: 0 - variavel: CAT_NAME_EDUCATION_TYPE
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.274 Limit Max: 1.735
Identfied outliers: 257

Classe: 1 - variavel: CAT_NAME_FAMILY_STATUS
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.018 Limit Max: 3.516
Identfied outliers: 2342

Classe: 0 - variavel: CAT_NAME_FAMILY_STATUS
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.152 Limit Max: 3.482
Identfied outliers: 281

Classe: 1 - variavel: CAT_NAME_HOUSING_TYPE
Real Min: 0.000 Real Max: 5.000
Limit Min: -1.555 Limit Max: 1.939
Identfied outliers: 2872

Classe: 0 - variavel: CAT_NAME_HOUSING_TYPE
Real Min: 0.000 Real Max: 5.000
Limit Min: -1.717 Limit Max: 2.336
Identfied outliers: 146

Classe: 1 - variavel: CAT_OCCUPATION_TYPE
Real Min: 0.000 Real Max: 17.000
Limit Min: -5.554 Limit Max: 13.135
Identfied outliers: 450

Classe: 0 - variavel: CAT_OCCUPATION_TYPE
Real Min: 0.000 Real Max: 17.000
Limit Min: -5.650 Limit Max: 13.194
Identfied outliers: 35

Classe: 1 - variavel: CAT_WEEKDAY_APPR_PROCESS_START
Real Min: 0.000 Real Max: 6.000
Limit Min: -2.463 Limit Max: 8.406
Identfied outliers: 0

Classe: 0 - variavel: CAT_WEEKDAY_APPR_PROCESS_START
Real Min: 0.000 Real Max: 6.000
Limit Min: -2.476 Limit Max: 8.423
Identfied outliers: 0

Classe: 1 - variavel: CAT_ORGANIZATION_TYPE
Real Min: 0.000 Real Max: 57.000
Limit Min: -16.493 Limit Max: 35.606
Identfied outliers: 1609

Classe: 0 - variavel: CAT_ORGANIZATION_TYPE
Real Min: 0.000 Real Max: 56.000
Limit Min: -17.421 Limit Max: 38.302
Identfied outliers: 67

Classe: 1 - variavel: CAT_FONDKAPREMONT_MODE
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.826 Limit Max: 2.793
Identfied outliers: 2104

Classe: 0 - variavel: CAT_FONDKAPREMONT_MODE
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.821 Limit Max: 2.786
Identfied outliers: 255

Classe: 1 - variavel: CAT_HOUSETYPE_MODE
Real Min: 0.000 Real Max: 2.000
Limit Min: -0.508 Limit Max: 0.562
Identfied outliers: 566

Classe: 0 - variavel: CAT_HOUSETYPE_MODE
Real Min: 0.000 Real Max: 2.000
Limit Min: -0.530 Limit Max: 0.588
Identfied outliers: 76

Classe: 1 - variavel: CAT_WALLSMATERIAL_MODE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.917 Limit Max: 4.358
Identfied outliers: 674

Classe: 0 - variavel: CAT_WALLSMATERIAL_MODE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.926 Limit Max: 4.388
Identfied outliers: 83

Classe: 1 - variavel: CAT_EMERGENCYSTATE_MODE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.258 Limit Max: 0.281
Identfied outliers: 382

Classe: 0 - variavel: CAT_EMERGENCYSTATE_MODE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.258 Limit Max: 0.282
Identfied outliers: 47

In [60]:
import collections

In [61]:
print(collections.Counter(df.TARGET))

Counter({0: 32088, 1: 3942})

## Balancear as categorias (SMOTE)

In [69]:
name = df.select_dtypes(include="object").columns

In [70]:
name

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [76]:
df = df.drop(name, axis=1)

In [88]:
y = df["TARGET"].to_numpy()
X = df
X = X.drop("TARGET", axis=1)
X = X.to_numpy()

In [79]:
from imblearn.over_sampling import SMOTE

In [90]:
overSampling = SMOTE()
X, y = overSampling.fit_resample(X, y)
print(collections.Counter(y))

Counter({0: 32088, 1: 32088})

In [94]:
name_coll = df.columns[1:]
df_smote = pd.DataFrame(X, columns=name_coll)

In [95]:
df_smote.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,CAT_NAME_EDUCATION_TYPE,CAT_NAME_FAMILY_STATUS,CAT_NAME_HOUSING_TYPE,CAT_OCCUPATION_TYPE,CAT_WEEKDAY_APPR_PROCESS_START,CAT_ORGANIZATION_TYPE,CAT_FONDKAPREMONT_MODE,CAT_HOUSETYPE_MODE,CAT_WALLSMATERIAL_MODE,CAT_EMERGENCYSTATE_MODE
0,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,-3039.0,-9833.0,-2437.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
1,0.0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941.0,-1588.0,-4970.0,-477.0,...,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,2.0,0.0
2,1.0,112500.0,652500.0,21177.0,652500.0,0.022800,-10197.0,-679.0,-4427.0,-738.0,...,1.0,1.0,0.0,1.0,4.0,7.0,0.0,0.0,2.0,0.0
3,1.0,90000.0,544491.0,17563.5,454500.0,0.015221,-11348.0,-2038.0,-1021.0,-3964.0,...,1.0,0.0,0.0,1.0,1.0,13.0,0.0,0.0,0.0,0.0
4,1.0,202500.0,1132573.5,37561.5,927000.0,0.025164,-14815.0,-1652.0,-2299.0,-2299.0,...,0.0,1.0,0.0,5.0,1.0,14.0,0.0,0.0,2.0,0.0

## Normalizar as variaveis (StandardScaler)

In [96]:
from sklearn import preprocessing

In [97]:
scaler = preprocessing.StandardScaler().fit(X)

In [98]:
scaler

StandardScaler()

In [99]:
X_scaled = scaler.transform(X)

In [101]:
df_scaled = pd.DataFrame(X_scaled, columns=name_coll)

In [102]:
df_scaled.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,CAT_NAME_EDUCATION_TYPE,CAT_NAME_FAMILY_STATUS,CAT_NAME_HOUSING_TYPE,CAT_OCCUPATION_TYPE,CAT_WEEKDAY_APPR_PROCESS_START,CAT_ORGANIZATION_TYPE,CAT_FONDKAPREMONT_MODE,CAT_HOUSETYPE_MODE,CAT_WALLSMATERIAL_MODE,CAT_EMERGENCYSTATE_MODE
0,-0.714514,-0.093496,-0.750931,0.457481,-0.641849,-1.082484,-1.040202,-0.306875,-1.833544,0.276187,...,-0.423352,1.618658,-0.298383,-1.115990,-1.471774,-1.065326,-0.506604,0.0,0.867925,0.0
1,-0.714514,-0.666964,-0.144293,0.241044,-0.038855,2.025654,-0.483101,-0.292469,-0.196959,1.668294,...,-0.423352,-0.086901,-0.298383,-1.115990,-1.471774,-0.593965,-0.506604,0.0,0.867925,0.0
2,0.845682,-0.451913,0.408411,-0.391651,0.719194,0.571690,1.337197,-0.283444,-0.014219,1.482917,...,2.680314,-0.086901,-0.298383,-0.812719,0.511533,-0.240444,-0.506604,0.0,0.867925,0.0
3,0.845682,-0.810331,0.039921,-0.752229,-0.038855,-0.276492,1.026526,-0.296937,1.132030,-0.808378,...,2.680314,-1.792459,-0.298383,-0.812719,-0.975947,0.466597,-0.506604,0.0,-1.124547,0.0
4,0.845682,0.981757,2.046258,1.243299,1.770126,0.836251,0.090736,-0.293104,0.701934,0.374203,...,-0.423352,-0.086901,-0.298383,0.400363,-0.975947,0.584437,-0.506604,0.0,0.867925,0.0

## Identificar as melhores relações de variaveis para a variavel taget (random forest)

In [103]:
from sklearn.ensemble import RandomForestClassifier

In [104]:
clf = RandomForestClassifier(random_state=15, n_estimators=1000)
clf.fit(df_scaled, y)

RandomForestClassifier(n_estimators=1000, random_state=15)

In [110]:
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 1000,
 'n_jobs': None,
 'oob_score': False,
 'random_state': 15,
 'verbose': 0,
 'warm_start': False}

## Aplicar o PCA

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
pca = PCA(n_components=2)
pca.fit(X)