# Análise de dados

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("../datasets/application_data.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307511 entries, 0 to 307510
Columns: 122 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41), object(16)
memory usage: 286.2+ MB

## Origem dos dados
https://www.kaggle.com/c/home-credit-default-risk

## Dicionario do dataset

In [5]:
df.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

In [6]:
df.select_dtypes(include="object").head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
0,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,reg oper account,block of flats,"Stone, brick",No
1,Cash loans,F,N,N,Family,State servant,Higher education,Married,House / apartment,Core staff,MONDAY,School,reg oper account,block of flats,Block,No
2,Revolving loans,M,Y,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Laborers,MONDAY,Government,NaN,NaN,NaN,NaN
3,Cash loans,F,N,Y,Unaccompanied,Working,Secondary / secondary special,Civil marriage,House / apartment,Laborers,WEDNESDAY,Business Entity Type 3,NaN,NaN,NaN,NaN
4,Cash loans,M,N,Y,Unaccompanied,Working,Secondary / secondary special,Single / not married,House / apartment,Core staff,THURSDAY,Religion,NaN,NaN,NaN,NaN

## Retirar variaveis que não pertence ao estudo do caso (Drop axi=1)

In [7]:
df = df.drop("SK_ID_CURR", axis=1)

## Identificar variaveis Nulas e preencher com a media da categoria (Nan)

In [8]:
df.select_dtypes(include="object").isnull().sum()

NAME_CONTRACT_TYPE                 0
CODE_GENDER                        0
FLAG_OWN_CAR                       0
FLAG_OWN_REALTY                    0
NAME_TYPE_SUITE                 1292
NAME_INCOME_TYPE                   0
NAME_EDUCATION_TYPE                0
NAME_FAMILY_STATUS                 0
NAME_HOUSING_TYPE                  0
OCCUPATION_TYPE                96391
WEEKDAY_APPR_PROCESS_START         0
ORGANIZATION_TYPE                  0
FONDKAPREMONT_MODE            210295
HOUSETYPE_MODE                154297
WALLSMATERIAL_MODE            156341
EMERGENCYSTATE_MODE           145755
dtype: int64

In [9]:
df["NAME_TYPE_SUITE"].fillna(axis=0, method="bfill", inplace=True)
df["OCCUPATION_TYPE"].fillna(axis=0, method="bfill", inplace=True)
df["FONDKAPREMONT_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["HOUSETYPE_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["WALLSMATERIAL_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["EMERGENCYSTATE_MODE"].fillna(axis=0, method="bfill", inplace=True)
df["FONDKAPREMONT_MODE"].fillna(axis=0, method="bfill", inplace=True)

In [10]:
df["FONDKAPREMONT_MODE"].fillna(value="reg oper account", inplace=True)

In [11]:
# df.dropna(axis=1)

In [12]:
df.select_dtypes(include="int64").isnull().sum()

TARGET                         0
CNT_CHILDREN                   0
DAYS_BIRTH                     0
DAYS_EMPLOYED                  0
DAYS_ID_PUBLISH                0
FLAG_MOBIL                     0
FLAG_EMP_PHONE                 0
FLAG_WORK_PHONE                0
FLAG_CONT_MOBILE               0
FLAG_PHONE                     0
FLAG_EMAIL                     0
REGION_RATING_CLIENT           0
REGION_RATING_CLIENT_W_CITY    0
HOUR_APPR_PROCESS_START        0
REG_REGION_NOT_LIVE_REGION     0
REG_REGION_NOT_WORK_REGION     0
LIVE_REGION_NOT_WORK_REGION    0
REG_CITY_NOT_LIVE_CITY         0
REG_CITY_NOT_WORK_CITY         0
LIVE_CITY_NOT_WORK_CITY        0
FLAG_DOCUMENT_2                0
FLAG_DOCUMENT_3                0
FLAG_DOCUMENT_4                0
FLAG_DOCUMENT_5                0
FLAG_DOCUMENT_6                0
FLAG_DOCUMENT_7                0
FLAG_DOCUMENT_8                0
FLAG_DOCUMENT_9                0
FLAG_DOCUMENT_10               0
FLAG_DOCUMENT_11               0
FLAG_DOCUMENT_12               0
FLAG_DOCUMENT_13               0
FLAG_DOCUMENT_14               0
FLAG_DOCUMENT_15               0
FLAG_DOCUMENT_16               0
FLAG_DOCUMENT_17               0
FLAG_DOCUMENT_18               0
FLAG_DOCUMENT_19               0
FLAG_DOCUMENT_20               0
FLAG_DOCUMENT_21               0
dtype: int64

In [13]:
df.select_dtypes(include="float64").isnull().sum()

AMT_INCOME_TOTAL                  0
AMT_CREDIT                        0
AMT_ANNUITY                      12
AMT_GOODS_PRICE                 278
REGION_POPULATION_RELATIVE        0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     41519
AMT_REQ_CREDIT_BUREAU_WEEK    41519
AMT_REQ_CREDIT_BUREAU_MON     41519
AMT_REQ_CREDIT_BUREAU_QRT     41519
AMT_REQ_CREDIT_BUREAU_YEAR    41519
Length: 65, dtype: int64

In [14]:
df["AMT_ANNUITY"].fillna(value=df["AMT_ANNUITY"].mean(), inplace=True)
df["AMT_GOODS_PRICE"].fillna(value=df["AMT_GOODS_PRICE"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_DAY"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_DAY"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_WEEK"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_WEEK"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_MON"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_MON"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_QRT"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_QRT"].mean(), inplace=True)
df["AMT_REQ_CREDIT_BUREAU_YEAR"].fillna(value=df["AMT_REQ_CREDIT_BUREAU_YEAR"].mean(), inplace=True)

In [15]:
df.fillna(value=df.mean(), inplace=True)

In [16]:
df.isnull().sum().sum()

0

## Converter variaveis textos/categoricos para numericos/categoricos

In [17]:
df.select_dtypes(include="object").isnull().sum()

NAME_CONTRACT_TYPE            0
CODE_GENDER                   0
FLAG_OWN_CAR                  0
FLAG_OWN_REALTY               0
NAME_TYPE_SUITE               0
NAME_INCOME_TYPE              0
NAME_EDUCATION_TYPE           0
NAME_FAMILY_STATUS            0
NAME_HOUSING_TYPE             0
OCCUPATION_TYPE               0
WEEKDAY_APPR_PROCESS_START    0
ORGANIZATION_TYPE             0
FONDKAPREMONT_MODE            0
HOUSETYPE_MODE                0
WALLSMATERIAL_MODE            0
EMERGENCYSTATE_MODE           0
dtype: int64

In [18]:
def convert_text_to_numetic(value, lstText):
    for index, text in enumerate(lstText):
        if text == value:
            return index

In [19]:
%%time
lst_Coll = ["CODE_GENDER", "FLAG_OWN_CAR", "FLAG_OWN_REALTY", "NAME_TYPE_SUITE", "NAME_INCOME_TYPE", "NAME_EDUCATION_TYPE", "NAME_FAMILY_STATUS", "NAME_HOUSING_TYPE", "OCCUPATION_TYPE", "WEEKDAY_APPR_PROCESS_START", "ORGANIZATION_TYPE", "FONDKAPREMONT_MODE", "HOUSETYPE_MODE", "WALLSMATERIAL_MODE", "EMERGENCYSTATE_MODE"] 

for col in lst_Coll:
    lstText = df[col].unique()
    df["CAT_" + col] = [convert_text_to_numetic(text, lstText) for text in df[col].values]

CPU times: user 2.54 s, sys: 15.9 ms, total: 2.55 s
Wall time: 2.55 s

In [20]:
df.head()

,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,...,CAT_NAME_EDUCATION_TYPE,CAT_NAME_FAMILY_STATUS,CAT_NAME_HOUSING_TYPE,CAT_OCCUPATION_TYPE,CAT_WEEKDAY_APPR_PROCESS_START,CAT_ORGANIZATION_TYPE,CAT_FONDKAPREMONT_MODE,CAT_HOUSETYPE_MODE,CAT_WALLSMATERIAL_MODE,CAT_EMERGENCYSTATE_MODE
0,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,351000.0,...,0,0,0,0,0,0,0,0,0,0
1,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,1129500.0,...,1,1,0,1,1,1,0,0,1,0
2,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,135000.0,...,0,0,0,0,1,2,0,0,2,0
3,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,297000.0,...,0,2,0,0,0,0,0,0,2,0
4,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,513000.0,...,0,0,0,1,2,3,0,0,2,0

## Retirar registros que tenha variaveis com outliers (Escor Z)

In [21]:
name_columns = df.select_dtypes(include="float64").columns
des_target = df["TARGET"].unique()

In [22]:
name_columns

Index(['AMT_INCOME_TOTAL', 'AMT_CREDIT', 'AMT_ANNUITY', 'AMT_GOODS_PRICE',
       'REGION_POPULATION_RELATIVE', 'DAYS_REGISTRATION', 'OWN_CAR_AGE',
       'CNT_FAM_MEMBERS', 'EXT_SOURCE_1', 'EXT_SOURCE_2', 'EXT_SOURCE_3',
       'APARTMENTS_AVG', 'BASEMENTAREA_AVG', 'YEARS_BEGINEXPLUATATION_AVG',
       'YEARS_BUILD_AVG', 'COMMONAREA_AVG', 'ELEVATORS_AVG', 'ENTRANCES_AVG',
       'FLOORSMAX_AVG', 'FLOORSMIN_AVG', 'LANDAREA_AVG',
       'LIVINGAPARTMENTS_AVG', 'LIVINGAREA_AVG', 'NONLIVINGAPARTMENTS_AVG',
       'NONLIVINGAREA_AVG', 'APARTMENTS_MODE', 'BASEMENTAREA_MODE',
       'YEARS_BEGINEXPLUATATION_MODE', 'YEARS_BUILD_MODE', 'COMMONAREA_MODE',
       'ELEVATORS_MODE', 'ENTRANCES_MODE', 'FLOORSMAX_MODE', 'FLOORSMIN_MODE',
       'LANDAREA_MODE', 'LIVINGAPARTMENTS_MODE', 'LIVINGAREA_MODE',
       'NONLIVINGAPARTMENTS_MODE', 'NONLIVINGAREA_MODE', 'APARTMENTS_MEDI',
       'BASEMENTAREA_MEDI', 'YEARS_BEGINEXPLUATATION_MEDI', 'YEARS_BUILD_MEDI',
       'COMMONAREA_MEDI', 'ELEVATORS_MEDI', 'ENTRANCES_MEDI', 'FLOORSMAX_MEDI',
       'FLOORSMIN_MEDI', 'LANDAREA_MEDI', 'LIVINGAPARTMENTS_MEDI',
       'LIVINGAREA_MEDI', 'NONLIVINGAPARTMENTS_MEDI', 'NONLIVINGAREA_MEDI',
       'TOTALAREA_MODE', 'OBS_30_CNT_SOCIAL_CIRCLE',
       'DEF_30_CNT_SOCIAL_CIRCLE', 'OBS_60_CNT_SOCIAL_CIRCLE',
       'DEF_60_CNT_SOCIAL_CIRCLE', 'DAYS_LAST_PHONE_CHANGE',
       'AMT_REQ_CREDIT_BUREAU_HOUR', 'AMT_REQ_CREDIT_BUREAU_DAY',
       'AMT_REQ_CREDIT_BUREAU_WEEK', 'AMT_REQ_CREDIT_BUREAU_MON',
       'AMT_REQ_CREDIT_BUREAU_QRT', 'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object')

In [23]:
name_columns = df.select_dtypes(include="int64").columns

In [24]:
name_columns

Index(['TARGET', 'CNT_CHILDREN', 'DAYS_BIRTH', 'DAYS_EMPLOYED',
       'DAYS_ID_PUBLISH', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL', 'REGION_RATING_CLIENT',
       'REGION_RATING_CLIENT_W_CITY', 'HOUR_APPR_PROCESS_START',
       'REG_REGION_NOT_LIVE_REGION', 'REG_REGION_NOT_WORK_REGION',
       'LIVE_REGION_NOT_WORK_REGION', 'REG_CITY_NOT_LIVE_CITY',
       'REG_CITY_NOT_WORK_CITY', 'LIVE_CITY_NOT_WORK_CITY', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'CAT_CODE_GENDER', 'CAT_FLAG_OWN_CAR',
       'CAT_FLAG_OWN_REALTY', 'CAT_NAME_TYPE_SUITE', 'CAT_NAME_INCOME_TYPE',
       'CAT_NAME_EDUCATION_TYPE', 'CAT_NAME_FAMILY_STATUS',
       'CAT_NAME_HOUSING_TYPE', 'CAT_OCCUPATION_TYPE',
       'CAT_WEEKDAY_APPR_PROCESS_START', 'CAT_ORGANIZATION_TYPE',
       'CAT_FONDKAPREMONT_MODE', 'CAT_HOUSETYPE_MODE',
       'CAT_WALLSMATERIAL_MODE', 'CAT_EMERGENCYSTATE_MODE'],
      dtype='object')

In [25]:
for variavel in name_columns:
    df_defaut = []
    for value, target in enumerate(des_target):
        dados = df[df["TARGET"]==value]
        print(f"Classe: {des_target[value]} - variavel: {variavel}")

        data_mean, data_std = dados[variavel].mean(), dados[variavel].std()
        data_min, data_max = dados[variavel].min(), dados[variavel].max()
        print("Real Min: %.3f Real Max: %.3f" %  (data_min, data_max))

        cut_off = data_std * 2.5
        lower, upper = data_mean - cut_off, data_mean + cut_off
        print("Limit Min: %.3f Limit Max: %.3f" %  (lower, upper))


        dataset = dados[dados[variavel] >= lower]
        if len(dataset) == 0:
            dataset = dados[dados[variavel] <= upper]
        else:
            dataset = dataset[dataset[variavel] <= upper]


        df_defaut.append(dataset)

        outliers = pd.concat([dados[dados[variavel] < lower], dados[dados[variavel] > upper]])
        print("Identfied outliers: %d \n" % len(outliers))

    df = pd.concat(df_defaut)

Classe: 1 - variavel: TARGET
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: TARGET
Real Min: 1.000 Real Max: 1.000
Limit Min: 1.000 Limit Max: 1.000
Identfied outliers: 0

Classe: 1 - variavel: CNT_CHILDREN
Real Min: 0.000 Real Max: 19.000
Limit Min: -1.384 Limit Max: 2.210
Identfied outliers: 3843

Classe: 0 - variavel: CNT_CHILDREN
Real Min: 0.000 Real Max: 11.000
Limit Min: -1.428 Limit Max: 2.356
Identfied outliers: 429

Classe: 1 - variavel: DAYS_BIRTH
Real Min: -25229.000 Real Max: -7489.000
Limit Min: -27115.954 Limit Max: -5226.798
Identfied outliers: 0

Classe: 0 - variavel: DAYS_BIRTH
Real Min: -25168.000 Real Max: -7678.000
Limit Min: -25450.709 Limit Max: -4375.700
Identfied outliers: 0

Classe: 1 - variavel: DAYS_EMPLOYED
Real Min: -17912.000 Real Max: 365243.000
Limit Min: -292318.177 Limit Max: 425319.111
Identfied outliers: 0

Classe: 0 - variavel: DAYS_EMPLOYED
Real Min: -16069.000 Real Max: 365243.000
Limit Min: -257568.955 Limit Max: 343668.254
Identfied outliers: 2982

Classe: 1 - variavel: DAYS_ID_PUBLISH
Real Min: -7197.000 Real Max: 0.000
Limit Min: -6780.147 Limit Max: 751.641
Identfied outliers: 1

Classe: 0 - variavel: DAYS_ID_PUBLISH
Real Min: -6207.000 Real Max: 0.000
Limit Min: -6350.839 Limit Max: 1156.901
Identfied outliers: 0

Classe: 1 - variavel: FLAG_MOBIL
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.995 Limit Max: 1.005
Identfied outliers: 1

Classe: 0 - variavel: FLAG_MOBIL
Real Min: 1.000 Real Max: 1.000
Limit Min: 1.000 Limit Max: 1.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_EMP_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.163 Limit Max: 1.788
Identfied outliers: 0

Classe: 0 - variavel: FLAG_EMP_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.983 Limit Max: 1.017
Identfied outliers: 1

Classe: 1 - variavel: FLAG_WORK_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.795 Limit Max: 1.185
Identfied outliers: 0

Classe: 0 - variavel: FLAG_WORK_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.840 Limit Max: 1.378
Identfied outliers: 0

Classe: 1 - variavel: FLAG_CONT_MOBILE
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.890 Limit Max: 1.106
Identfied outliers: 523

Classe: 0 - variavel: FLAG_CONT_MOBILE
Real Min: 0.000 Real Max: 1.000
Limit Min: 0.887 Limit Max: 1.109
Identfied outliers: 42

Classe: 1 - variavel: FLAG_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.843 Limit Max: 1.412
Identfied outliers: 0

Classe: 0 - variavel: FLAG_PHONE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.829 Limit Max: 1.315
Identfied outliers: 0

Classe: 1 - variavel: FLAG_EMAIL
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.521 Limit Max: 0.635
Identfied outliers: 15782

Classe: 0 - variavel: FLAG_EMAIL
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.529 Limit Max: 0.647
Identfied outliers: 1255

Classe: 1 - variavel: REGION_RATING_CLIENT
Real Min: 1.000 Real Max: 3.000
Limit Min: 0.790 Limit Max: 3.310
Identfied outliers: 0

Classe: 0 - variavel: REGION_RATING_CLIENT
Real Min: 1.000 Real Max: 3.000
Limit Min: 0.898 Limit Max: 3.414
Identfied outliers: 0

Classe: 1 - variavel: REGION_RATING_CLIENT_W_CITY
Real Min: 1.000 Real Max: 3.000
Limit Min: 0.784 Limit Max: 3.273
Identfied outliers: 0

Classe: 0 - variavel: REGION_RATING_CLIENT_W_CITY
Real Min: 1.000 Real Max: 3.000
Limit Min: 0.891 Limit Max: 3.383
Identfied outliers: 0

Classe: 1 - variavel: HOUR_APPR_PROCESS_START
Real Min: 0.000 Real Max: 23.000
Limit Min: 3.919 Limit Max: 20.219
Identfied outliers: 1928

Classe: 0 - variavel: HOUR_APPR_PROCESS_START
Real Min: 0.000 Real Max: 23.000
Limit Min: 3.615 Limit Max: 20.144
Identfied outliers: 166

Classe: 1 - variavel: REG_REGION_NOT_LIVE_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.284 Limit Max: 0.313
Identfied outliers: 3761

Classe: 0 - variavel: REG_REGION_NOT_LIVE_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.321 Limit Max: 0.359
Identfied outliers: 376

Classe: 1 - variavel: REG_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.436 Limit Max: 0.510
Identfied outliers: 9549

Classe: 0 - variavel: REG_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.477 Limit Max: 0.568
Identfied outliers: 895

Classe: 1 - variavel: LIVE_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: LIVE_REGION_NOT_WORK_REGION
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: REG_CITY_NOT_LIVE_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.545 Limit Max: 0.671
Identfied outliers: 15607

Classe: 0 - variavel: REG_CITY_NOT_LIVE_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.687 Limit Max: 0.920
Identfied outliers: 2185

Classe: 1 - variavel: REG_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.749 Limit Max: 1.059
Identfied outliers: 0

Classe: 0 - variavel: REG_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.826 Limit Max: 1.300
Identfied outliers: 0

Classe: 1 - variavel: LIVE_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.749 Limit Max: 1.059
Identfied outliers: 0

Classe: 0 - variavel: LIVE_CITY_NOT_WORK_CITY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.826 Limit Max: 1.300
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_2
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.014 Limit Max: 0.014
Identfied outliers: 7

Classe: 0 - variavel: FLAG_DOCUMENT_2
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.039 Limit Max: 0.039
Identfied outliers: 4

Classe: 1 - variavel: FLAG_DOCUMENT_3
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.440 Limit Max: 1.845
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_3
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.123 Limit Max: 1.774
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_4
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.023 Limit Max: 0.023
Identfied outliers: 20

Classe: 0 - variavel: FLAG_DOCUMENT_4
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_5
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.287 Limit Max: 0.317
Identfied outliers: 3425

Classe: 0 - variavel: FLAG_DOCUMENT_5
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.301 Limit Max: 0.334
Identfied outliers: 270

Classe: 1 - variavel: FLAG_DOCUMENT_6
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.661 Limit Max: 0.871
Identfied outliers: 23969

Classe: 0 - variavel: FLAG_DOCUMENT_6
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.198 Limit Max: 0.212
Identfied outliers: 110

Classe: 1 - variavel: FLAG_DOCUMENT_7
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.036 Limit Max: 0.036
Identfied outliers: 43

Classe: 0 - variavel: FLAG_DOCUMENT_7
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.034 Limit Max: 0.034
Identfied outliers: 3

Classe: 1 - variavel: FLAG_DOCUMENT_8
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.610 Limit Max: 0.779
Identfied outliers: 17225

Classe: 0 - variavel: FLAG_DOCUMENT_8
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.602 Limit Max: 0.764
Identfied outliers: 1307

Classe: 1 - variavel: FLAG_DOCUMENT_9
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.159 Limit Max: 0.167
Identfied outliers: 796

Classe: 0 - variavel: FLAG_DOCUMENT_9
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.146 Limit Max: 0.153
Identfied outliers: 53

Classe: 1 - variavel: FLAG_DOCUMENT_10
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.012 Limit Max: 0.012
Identfied outliers: 4

Classe: 0 - variavel: FLAG_DOCUMENT_10
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_11
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.150 Limit Max: 0.158
Identfied outliers: 709

Classe: 0 - variavel: FLAG_DOCUMENT_11
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.118 Limit Max: 0.122
Identfied outliers: 34

Classe: 1 - variavel: FLAG_DOCUMENT_12
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.006 Limit Max: 0.006
Identfied outliers: 1

Classe: 0 - variavel: FLAG_DOCUMENT_12
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_13
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.123 Limit Max: 0.128
Identfied outliers: 471

Classe: 0 - variavel: FLAG_DOCUMENT_13
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.073 Limit Max: 0.075
Identfied outliers: 13

Classe: 1 - variavel: FLAG_DOCUMENT_14
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.127 Limit Max: 0.132
Identfied outliers: 498

Classe: 0 - variavel: FLAG_DOCUMENT_14
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.081 Limit Max: 0.084
Identfied outliers: 16

Classe: 1 - variavel: FLAG_DOCUMENT_15
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.085 Limit Max: 0.087
Identfied outliers: 217

Classe: 0 - variavel: FLAG_DOCUMENT_15
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.050 Limit Max: 0.051
Identfied outliers: 6

Classe: 1 - variavel: FLAG_DOCUMENT_16
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.257 Limit Max: 0.281
Identfied outliers: 2159

Classe: 0 - variavel: FLAG_DOCUMENT_16
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.208 Limit Max: 0.223
Identfied outliers: 110

Classe: 1 - variavel: FLAG_DOCUMENT_17
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.042 Limit Max: 0.042
Identfied outliers: 51

Classe: 0 - variavel: FLAG_DOCUMENT_17
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.029 Limit Max: 0.029
Identfied outliers: 2

Classe: 1 - variavel: FLAG_DOCUMENT_18
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.225 Limit Max: 0.242
Identfied outliers: 1605

Classe: 0 - variavel: FLAG_DOCUMENT_18
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.199 Limit Max: 0.212
Identfied outliers: 99

Classe: 1 - variavel: FLAG_DOCUMENT_19
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.066 Limit Max: 0.068
Identfied outliers: 130

Classe: 0 - variavel: FLAG_DOCUMENT_19
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.065 Limit Max: 0.066
Identfied outliers: 10

Classe: 1 - variavel: FLAG_DOCUMENT_20
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 0 - variavel: FLAG_DOCUMENT_20
Real Min: 0.000 Real Max: 0.000
Limit Min: 0.000 Limit Max: 0.000
Identfied outliers: 0

Classe: 1 - variavel: FLAG_DOCUMENT_21
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.047 Limit Max: 0.048
Identfied outliers: 66

Classe: 0 - variavel: FLAG_DOCUMENT_21
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.055 Limit Max: 0.055
Identfied outliers: 7

Classe: 1 - variavel: CAT_CODE_GENDER
Real Min: 0.000 Real Max: 2.000
Limit Min: -0.424 Limit Max: 1.845
Identfied outliers: 4

Classe: 0 - variavel: CAT_CODE_GENDER
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.632 Limit Max: 1.822
Identfied outliers: 0

Classe: 1 - variavel: CAT_FLAG_OWN_CAR
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.846 Limit Max: 1.477
Identfied outliers: 0

Classe: 0 - variavel: CAT_FLAG_OWN_CAR
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.845 Limit Max: 1.435
Identfied outliers: 0

Classe: 1 - variavel: CAT_FLAG_OWN_REALTY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.844 Limit Max: 1.415
Identfied outliers: 0

Classe: 0 - variavel: CAT_FLAG_OWN_REALTY
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.846 Limit Max: 1.467
Identfied outliers: 0

Classe: 1 - variavel: CAT_NAME_TYPE_SUITE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.498 Limit Max: 2.072
Identfied outliers: 3565

Classe: 0 - variavel: CAT_NAME_TYPE_SUITE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.556 Limit Max: 2.108
Identfied outliers: 280

Classe: 1 - variavel: CAT_NAME_INCOME_TYPE
Real Min: 0.000 Real Max: 7.000
Limit Min: -1.951 Limit Max: 3.869
Identfied outliers: 25

Classe: 0 - variavel: CAT_NAME_INCOME_TYPE
Real Min: 0.000 Real Max: 7.000
Limit Min: -1.591 Limit Max: 2.618
Identfied outliers: 2

Classe: 1 - variavel: CAT_NAME_EDUCATION_TYPE
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.159 Limit Max: 1.816
Identfied outliers: 7343

Classe: 0 - variavel: CAT_NAME_EDUCATION_TYPE
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.222 Limit Max: 1.755
Identfied outliers: 698

Classe: 1 - variavel: CAT_NAME_FAMILY_STATUS
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.190 Limit Max: 3.714
Identfied outliers: 11233

Classe: 0 - variavel: CAT_NAME_FAMILY_STATUS
Real Min: 0.000 Real Max: 4.000
Limit Min: -1.230 Limit Max: 3.590
Identfied outliers: 876

Classe: 1 - variavel: CAT_NAME_HOUSING_TYPE
Real Min: 0.000 Real Max: 5.000
Limit Min: -1.752 Limit Max: 2.237
Identfied outliers: 7264

Classe: 0 - variavel: CAT_NAME_HOUSING_TYPE
Real Min: 0.000 Real Max: 5.000
Limit Min: -1.799 Limit Max: 2.401
Identfied outliers: 576

Classe: 1 - variavel: CAT_OCCUPATION_TYPE
Real Min: 0.000 Real Max: 17.000
Limit Min: -5.627 Limit Max: 13.195
Identfied outliers: 2199

Classe: 0 - variavel: CAT_OCCUPATION_TYPE
Real Min: 0.000 Real Max: 17.000
Limit Min: -5.732 Limit Max: 13.099
Identfied outliers: 134

Classe: 1 - variavel: CAT_WEEKDAY_APPR_PROCESS_START
Real Min: 0.000 Real Max: 6.000
Limit Min: -2.430 Limit Max: 8.368
Identfied outliers: 0

Classe: 0 - variavel: CAT_WEEKDAY_APPR_PROCESS_START
Real Min: 0.000 Real Max: 6.000
Limit Min: -2.437 Limit Max: 8.431
Identfied outliers: 0

Classe: 1 - variavel: CAT_ORGANIZATION_TYPE
Real Min: 0.000 Real Max: 57.000
Limit Min: -17.476 Limit Max: 36.916
Identfied outliers: 5692

Classe: 0 - variavel: CAT_ORGANIZATION_TYPE
Real Min: 0.000 Real Max: 57.000
Limit Min: -18.151 Limit Max: 38.874
Identfied outliers: 219

Classe: 1 - variavel: CAT_FONDKAPREMONT_MODE
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.818 Limit Max: 2.777
Identfied outliers: 8235

Classe: 0 - variavel: CAT_FONDKAPREMONT_MODE
Real Min: 0.000 Real Max: 3.000
Limit Min: -1.825 Limit Max: 2.791
Identfied outliers: 677

Classe: 1 - variavel: CAT_HOUSETYPE_MODE
Real Min: 0.000 Real Max: 2.000
Limit Min: -0.507 Limit Max: 0.560
Identfied outliers: 2212

Classe: 0 - variavel: CAT_HOUSETYPE_MODE
Real Min: 0.000 Real Max: 2.000
Limit Min: -0.557 Limit Max: 0.621
Identfied outliers: 216

Classe: 1 - variavel: CAT_WALLSMATERIAL_MODE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.897 Limit Max: 4.328
Identfied outliers: 2523

Classe: 0 - variavel: CAT_WALLSMATERIAL_MODE
Real Min: 0.000 Real Max: 6.000
Limit Min: -1.925 Limit Max: 4.339
Identfied outliers: 201

Classe: 1 - variavel: CAT_EMERGENCYSTATE_MODE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.256 Limit Max: 0.279
Identfied outliers: 1502

Classe: 0 - variavel: CAT_EMERGENCYSTATE_MODE
Real Min: 0.000 Real Max: 1.000
Limit Min: -0.291 Limit Max: 0.321
Identfied outliers: 161

In [26]:
import collections

In [27]:
print(collections.Counter(df.TARGET))

Counter({0: 128498, 1: 10410})

## Balancear as categorias (SMOTE)

In [28]:
name = df.select_dtypes(include="object").columns

In [29]:
name

Index(['NAME_CONTRACT_TYPE', 'CODE_GENDER', 'FLAG_OWN_CAR', 'FLAG_OWN_REALTY',
       'NAME_TYPE_SUITE', 'NAME_INCOME_TYPE', 'NAME_EDUCATION_TYPE',
       'NAME_FAMILY_STATUS', 'NAME_HOUSING_TYPE', 'OCCUPATION_TYPE',
       'WEEKDAY_APPR_PROCESS_START', 'ORGANIZATION_TYPE', 'FONDKAPREMONT_MODE',
       'HOUSETYPE_MODE', 'WALLSMATERIAL_MODE', 'EMERGENCYSTATE_MODE'],
      dtype='object')

In [30]:
df = df.drop(name, axis=1)

In [31]:
y = df["TARGET"].to_numpy()
X = df
X = X.drop("TARGET", axis=1)
X = X.to_numpy()

In [32]:
from imblearn.over_sampling import SMOTE

In [33]:
overSampling = SMOTE()
X, y = overSampling.fit_resample(X, y)
print(collections.Counter(y))

Counter({0: 128498, 1: 128498})

In [34]:
name_coll = df.columns[1:]
df_smote = pd.DataFrame(X, columns=name_coll)

In [35]:
df_smote.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,CAT_NAME_EDUCATION_TYPE,CAT_NAME_FAMILY_STATUS,CAT_NAME_HOUSING_TYPE,CAT_OCCUPATION_TYPE,CAT_WEEKDAY_APPR_PROCESS_START,CAT_ORGANIZATION_TYPE,CAT_FONDKAPREMONT_MODE,CAT_HOUSETYPE_MODE,CAT_WALLSMATERIAL_MODE,CAT_EMERGENCYSTATE_MODE
0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,-1188.0,-1186.0,-291.0,...,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0
1,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,-225.0,-4260.0,-2531.0,...,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,2.0,0.0
2,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,-3039.0,-9833.0,-2437.0,...,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0
3,0.0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941.0,-1588.0,-4970.0,-477.0,...,0.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,2.0,0.0
4,0.0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850.0,-449.0,-4597.0,-2379.0,...,1.0,1.0,0.0,3.0,1.0,4.0,0.0,0.0,2.0,0.0

## Normalizar as variaveis

In [48]:
categorical_columns = ['CAT_CODE_GENDER', 'CAT_FLAG_OWN_CAR', 'CAT_FLAG_OWN_REALTY',
       'CAT_NAME_TYPE_SUITE', 'CAT_NAME_INCOME_TYPE', 'CAT_NAME_EDUCATION_TYPE',
       'CAT_NAME_FAMILY_STATUS', 'CAT_NAME_HOUSING_TYPE', 'CAT_OCCUPATION_TYPE',
       'CAT_WEEKDAY_APPR_PROCESS_START', 'CAT_ORGANIZATION_TYPE', 'CAT_FONDKAPREMONT_MODE',
       'CAT_HOUSETYPE_MODE', 'CAT_WALLSMATERIAL_MODE', 'CAT_EMERGENCYSTATE_MODE', 'FLAG_DOCUMENT_2',
       'FLAG_DOCUMENT_3', 'FLAG_DOCUMENT_4', 'FLAG_DOCUMENT_5',
       'FLAG_DOCUMENT_6', 'FLAG_DOCUMENT_7', 'FLAG_DOCUMENT_8',
       'FLAG_DOCUMENT_9', 'FLAG_DOCUMENT_10', 'FLAG_DOCUMENT_11',
       'FLAG_DOCUMENT_12', 'FLAG_DOCUMENT_13', 'FLAG_DOCUMENT_14',
       'FLAG_DOCUMENT_15', 'FLAG_DOCUMENT_16', 'FLAG_DOCUMENT_17',
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'FLAG_MOBIL', 'FLAG_EMP_PHONE', 'FLAG_WORK_PHONE',
       'FLAG_CONT_MOBILE', 'FLAG_PHONE', 'FLAG_EMAIL']

In [49]:
name_columns_int = df.select_dtypes(include="int64").columns

for variavel in name_columns_float:
    norm_variaveis(variavel)

In [50]:
def norm_variaveis (colunm):
    df_smote["NORM_" + colunm] = df_smote[colunm] / df_smote[colunm].abs().max()

In [51]:
name_columns_float = df.select_dtypes(include="float64").columns

for variavel in name_columns_float:
    norm_variaveis(variavel)

In [52]:
for col in categorical_columns:
    df_scaled[col] = df_scaled[col].astype("category")

In [53]:
df_scaled = df_smote.copy()

In [54]:
df_scaled.head()

,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_REGISTRATION,DAYS_ID_PUBLISH,...,NORM_DEF_30_CNT_SOCIAL_CIRCLE,NORM_OBS_60_CNT_SOCIAL_CIRCLE,NORM_DEF_60_CNT_SOCIAL_CIRCLE,NORM_DAYS_LAST_PHONE_CHANGE,NORM_AMT_REQ_CREDIT_BUREAU_HOUR,NORM_AMT_REQ_CREDIT_BUREAU_DAY,NORM_AMT_REQ_CREDIT_BUREAU_WEEK,NORM_AMT_REQ_CREDIT_BUREAU_MON,NORM_AMT_REQ_CREDIT_BUREAU_QRT,NORM_AMT_REQ_CREDIT_BUREAU_YEAR
0,0.0,270000.0,1293502.5,35698.5,1129500.0,0.003541,-16765.0,-1188.0,-1186.0,-291.0,...,0.0,0.002907,0.0,-0.192917,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.0,67500.0,135000.0,6750.0,135000.0,0.010032,-19046.0,-225.0,-4260.0,-2531.0,...,0.0,0.000000,0.0,-0.189888,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.0,135000.0,312682.5,29686.5,297000.0,0.008019,-19005.0,-3039.0,-9833.0,-2437.0,...,0.0,0.005814,0.0,-0.143756,0.001601,0.001167,0.004295,0.014073,0.013972,0.090475
3,0.0,99000.0,490495.5,27517.5,454500.0,0.035792,-16941.0,-1588.0,-4970.0,-477.0,...,0.0,0.000000,0.0,-0.590867,0.000000,0.000000,0.000000,0.000000,0.052632,0.047619
4,0.0,360000.0,1530000.0,42075.0,1530000.0,0.003122,-18850.0,-449.0,-4597.0,-2379.0,...,0.0,0.005814,0.0,-0.249301,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

## Identificar as melhores relações de variaveis para a variavel taget (random forest)

In [55]:
import matplotlib.pyplot as plt
import numpy as np

from sklearn.datasets import fetch_openml
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import SimpleImputer # https://scikit-learn.org/stable/modules/generated/sklearn.impute.SimpleImputer.html
from sklearn.inspection import permutation_importance
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline # https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html
from sklearn.preprocessing import OneHotEncoder

In [56]:
numerical_columns = []
for name_coll in name_columns_int:
    numerical_columns.append("NORM_" + name_coll)


for name_coll in name_columns_float:
    numerical_columns.append("NORM_" + name_coll)

numerical_columns

['NORM_TARGET',
 'NORM_CNT_CHILDREN',
 'NORM_DAYS_BIRTH',
 'NORM_DAYS_EMPLOYED',
 'NORM_DAYS_ID_PUBLISH',
 'NORM_FLAG_MOBIL',
 'NORM_FLAG_EMP_PHONE',
 'NORM_FLAG_WORK_PHONE',
 'NORM_FLAG_CONT_MOBILE',
 'NORM_FLAG_PHONE',
 'NORM_FLAG_EMAIL',
 'NORM_REGION_RATING_CLIENT',
 'NORM_REGION_RATING_CLIENT_W_CITY',
 'NORM_HOUR_APPR_PROCESS_START',
 'NORM_REG_REGION_NOT_LIVE_REGION',
 'NORM_REG_REGION_NOT_WORK_REGION',
 'NORM_LIVE_REGION_NOT_WORK_REGION',
 'NORM_REG_CITY_NOT_LIVE_CITY',
 'NORM_REG_CITY_NOT_WORK_CITY',
 'NORM_LIVE_CITY_NOT_WORK_CITY',
 'NORM_FLAG_DOCUMENT_2',
 'NORM_FLAG_DOCUMENT_3',
 'NORM_FLAG_DOCUMENT_4',
 'NORM_FLAG_DOCUMENT_5',
 'NORM_FLAG_DOCUMENT_6',
 'NORM_FLAG_DOCUMENT_7',
 'NORM_FLAG_DOCUMENT_8',
 'NORM_FLAG_DOCUMENT_9',
 'NORM_FLAG_DOCUMENT_10',
 'NORM_FLAG_DOCUMENT_11',
 'NORM_FLAG_DOCUMENT_12',
 'NORM_FLAG_DOCUMENT_13',
 'NORM_FLAG_DOCUMENT_14',
 'NORM_FLAG_DOCUMENT_15',
 'NORM_FLAG_DOCUMENT_16',
 'NORM_FLAG_DOCUMENT_17',
 'NORM_FLAG_DOCUMENT_18',
 'NORM_FLAG_DOCUMENT_19',
 'NORM_FLAG_DOCUMENT_20',
 'NORM_FLAG_DOCUMENT_21',
 'NORM_CAT_CODE_GENDER',
 'NORM_CAT_FLAG_OWN_CAR',
 'NORM_CAT_FLAG_OWN_REALTY',
 'NORM_CAT_NAME_TYPE_SUITE',
 'NORM_CAT_NAME_INCOME_TYPE',
 'NORM_CAT_NAME_EDUCATION_TYPE',
 'NORM_CAT_NAME_FAMILY_STATUS',
 'NORM_CAT_NAME_HOUSING_TYPE',
 'NORM_CAT_OCCUPATION_TYPE',
 'NORM_CAT_WEEKDAY_APPR_PROCESS_START',
 'NORM_CAT_ORGANIZATION_TYPE',
 'NORM_CAT_FONDKAPREMONT_MODE',
 'NORM_CAT_HOUSETYPE_MODE',
 'NORM_CAT_WALLSMATERIAL_MODE',
 'NORM_CAT_EMERGENCYSTATE_MODE',
 'NORM_AMT_INCOME_TOTAL',
 'NORM_AMT_CREDIT',
 'NORM_AMT_ANNUITY',
 'NORM_AMT_GOODS_PRICE',
 'NORM_REGION_POPULATION_RELATIVE',
 'NORM_DAYS_REGISTRATION',
 'NORM_OWN_CAR_AGE',
 'NORM_CNT_FAM_MEMBERS',
 'NORM_EXT_SOURCE_1',
 'NORM_EXT_SOURCE_2',
 'NORM_EXT_SOURCE_3',
 'NORM_APARTMENTS_AVG',
 'NORM_BASEMENTAREA_AVG',
 'NORM_YEARS_BEGINEXPLUATATION_AVG',
 'NORM_YEARS_BUILD_AVG',
 'NORM_COMMONAREA_AVG',
 'NORM_ELEVATORS_AVG',
 'NORM_ENTRANCES_AVG',
 'NORM_FLOORSMAX_AVG',
 'NORM_FLOORSMIN_AVG',
 'NORM_LANDAREA_AVG',
 'NORM_LIVINGAPARTMENTS_AVG',
 'NORM_LIVINGAREA_AVG',
 'NORM_NONLIVINGAPARTMENTS_AVG',
 'NORM_NONLIVINGAREA_AVG',
 'NORM_APARTMENTS_MODE',
 'NORM_BASEMENTAREA_MODE',
 'NORM_YEARS_BEGINEXPLUATATION_MODE',
 'NORM_YEARS_BUILD_MODE',
 'NORM_COMMONAREA_MODE',
 'NORM_ELEVATORS_MODE',
 'NORM_ENTRANCES_MODE',
 'NORM_FLOORSMAX_MODE',
 'NORM_FLOORSMIN_MODE',
 'NORM_LANDAREA_MODE',
 'NORM_LIVINGAPARTMENTS_MODE',
 'NORM_LIVINGAREA_MODE',
 'NORM_NONLIVINGAPARTMENTS_MODE',
 'NORM_NONLIVINGAREA_MODE',
 'NORM_APARTMENTS_MEDI',
 'NORM_BASEMENTAREA_MEDI',
 'NORM_YEARS_BEGINEXPLUATATION_MEDI',
 'NORM_YEARS_BUILD_MEDI',
 'NORM_COMMONAREA_MEDI',
 'NORM_ELEVATORS_MEDI',
 'NORM_ENTRANCES_MEDI',
 'NORM_FLOORSMAX_MEDI',
 'NORM_FLOORSMIN_MEDI',
 'NORM_LANDAREA_MEDI',
 'NORM_LIVINGAPARTMENTS_MEDI',
 'NORM_LIVINGAREA_MEDI',
 'NORM_NONLIVINGAPARTMENTS_MEDI',
 'NORM_NONLIVINGAREA_MEDI',
 'NORM_TOTALAREA_MODE',
 'NORM_OBS_30_CNT_SOCIAL_CIRCLE',
 'NORM_DEF_30_CNT_SOCIAL_CIRCLE',
 'NORM_OBS_60_CNT_SOCIAL_CIRCLE',
 'NORM_DEF_60_CNT_SOCIAL_CIRCLE',
 'NORM_DAYS_LAST_PHONE_CHANGE',
 'NORM_AMT_REQ_CREDIT_BUREAU_HOUR',
 'NORM_AMT_REQ_CREDIT_BUREAU_DAY',
 'NORM_AMT_REQ_CREDIT_BUREAU_WEEK',
 'NORM_AMT_REQ_CREDIT_BUREAU_MON',
 'NORM_AMT_REQ_CREDIT_BUREAU_QRT',
 'NORM_AMT_REQ_CREDIT_BUREAU_YEAR']

In [57]:
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='median')),
    ('scaler', preprocessing.StandardScaler())])

categorical_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='constant')),
    ('one_hot', OneHotEncoder())])

 = ColumnTransformer(
    transformers=[
     preprocessor   ('num', numeric_transformer, numerical_columns),
        ('cat', categorical_transformer, categorical_columns)
    ])

IndentationError: unexpected indent (<ipython-input-57-9c4ee541da68>, line 9)

In [ ]:
df_scaled.isnull().sum().sum()

In [ ]:
pipe = Pipeline(steps=[('preprocessor', preprocessor),
                      ('classifier',  RandomForestClassifier(random_state=5, n_estimators=10))])
    
model = pipe.fit(df_scaled, y)

In [ ]:
#!pip install eli5

In [ ]:
onehot_columns = list(pipe.named_steps['preprocessor'].named_transformers_['cat'].named_steps['one_hot'].get_feature_names(input_features=categorical_columns))
numeric_features_list = list(numerical_columns)
numeric_features_list.extend(onehot_columns)

In [ ]:
import eli5

In [ ]:
eli5.explain_weights(pipe.named_steps['classifier'], top=22, feature_names=numeric_features_list)

## Aplicar o PCA

In [ ]:
# https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html

#from sklearn.decomposition import PCA

In [ ]:
#pca = PCA(n_components=2)
#pca.fit(X)
#print(pca.explained_variance_ratio_)
#print(pca.score(X))
#X = pca.tranform(X)